@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Dancing+Script:wght@700&family=Teko:wght@600&display=swap");

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(190, 201, 191);
    width: 95%;
    height: 75px;
    margin: 40px 30px;
    padding: 0 30px;
    border-radius: 15px;
    position: sticky;
    box-shadow: 0px 5px 10px rgb(93, 119, 91);
}

.navbar-brand {
    font-family: 'Comfortaa', cursive;
    font-weight: 900;
    font-size: 50px;
    transition: 0.2s;
}

.navbar-brand:hover {
    font-size: 40px;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    width: 48%;
}

.nav-item {
    font-size: 12px;
    margin: 3px;
    background-color: none;
    border-radius: 6px;
    letter-spacing: 2.5px;
    list-style: none;
    transition: 0.2s;
}

.nav-item:hover {
    font-size: 18px;
    padding: 13px 10px;
    background-color: rgb(63, 134, 18);
}

.icon-word {
    padding: 5px;
    font-size: 13px;
    transition: 0.3s;
}

.icon-word:hover {
    font-size: 18px;
}